.get > img{
    width: 450px;
    height: 300px;
    object-fit: contain;
    padding: 20px;



}
.GetVideos{
    color: white;
    height: 400px;
}
.get{
    transition: transform 100ms ease-in;

}

.get:hover{
    transform: scale(1.09);
}


.GetVideos > h2{
    padding-top: 10px;
}

.item{
    padding-left: 20px;
}
.item > .MuiSvgIcon-root{
    font-size: 15px;
    padding-right: 3px;
}

.main--active{
    visibility: hidden;
}

.GetVideos:hover>.main--active{
    visibility: visible;
}