.Header{
    background-color: black;

}

.header_details{
    color:white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.header_details >img{
    object-fit: contain;
    height: 80px;
}


.header_icon{
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
}
.header_icon > .MuiSvgIcon-root{
margin-left: auto;
margin-right: auto;
font-size: 30px;
}

.header_icon > p{
 display: none;
 text-transform: uppercase;
 letter-spacing: 3px;
 font-size:smaller;
 margin-left: auto;
 margin-right: auto;
}

.header_icon:hover > p{
    display: inline;
}

.main--active > p{
    display: inline!important;
}